.table-day td.ant-table-cell, .table-day th {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  text-align: center;
  width: 190px;

}
table .table-day{
  width: 1200px;
  min-width: 1200px;
}
.table-day td.ant-table-cell.first, .table-day th.first {
  width: auto!important;
}

.i-flex-container {
  display: flex;
  margin: 0px -5px;
  max-width: 90%;
  flex-flow: row wrap;
  justify-content: center;
}


.i-flex-item {
  flex: 1 1 auto;
  margin: 0px 5px;
}
